{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    {% if category %}
        {{ category.desc |truncatewords:155 }}
    {% else %}
        Welcome to the cart store where you can buy awesome products
    {% endif %}
{% endblock %}


{% block title %}
    {% if category %}
        {{category.name }} - shop cart
    {% else %}
            see our collections - shop cart
    {% endif %}
{% endblock %}

{% block content %}

    {% if category %}
        <div class="row my_row_class">
            <div class="mx-auto">
                <p>  <a href="{% url 'ecommerceapp:allProdCat' %}">Our product Collection</a>{{ category.name }}</p>
            </div>
        </div>
    {% endif %}
<div class="mx-auto">
    {% if category %}
        <img class="my_image" src="{{category.image.url}}"   alt="{{category.name}}">
</div><br>
<div>
    <h1 class="text-center" >{{category.name}}</h1>
    <p class="text-justify">{{category.desc}}</p>
</div>
{% else %}
<div>
    <center><img class="my_image_padding" src="{% static 'img/DORA-CART.png' %}" style="width:1250px;" alt="invalid"></center>
</div><br>
<div>
 <h1 class="text-center my_title">our Product Collections</h1>
    <p class="text-justify">Makeup is used as a beauty aid to help build up the self esteem and confidence of an individual. The importance of cosmetics has increased as many people want to stay young and attractive. ... Other cosmetics like face powder give glow to the skin after applying the base cream</p>
   </div>
    {% endif %}

<div class= "container">
    <div class="row max-auto">
    {% for product in products.object_list %}
    <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-lg-4">
        <div class="card" style="width: 18rem; height: 18em">
            <a href="{{product.get_url}}"><img class="card-img-top my_image" src="{{product.image.url}}"  style="width:250px; height:250px" alt="{{ product.name }}"></a>
        <div  class="card-body">
            <h4>{{product.name}}</h4>
            <p>${{product.price}}</p>
        </div>
        </div>
    </div>

    {% endfor %}
          </div>
</div>
    <div class="mx-auto">
        {% for pg in products.paginator.page_range %}
     <center> <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} activate {% endif %}">{{pg}}</a>
     </center>
        {% endfor %}

    </div>
</div>
    {% endblock %}