{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    {product.desc|truncatewords:155}
{% endblock %}


{% block title %}
    {{product.name }} -shop cart
{% endblock %}

{% block content %}
<div>
    <div>
        <p><a href="{% url 'ecommerceapp:allProdCat' %}"> Home</a><a href="{{product.category.get_url}}">{{product.name}}</a></p>
    </div>
    <div class="row">

        <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
            <div>
                <img src="{{product.image.url}}" style="width:250px; height:250;" alt="{{product.name}}">
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-justify">
            <div >
                <h1 class="my_prod_title ">{{product.name}}</h1>
                <p class="my_prod_title">{{product.price}}</p>
                <p class="text-justify my_prod_text">{{product.desc}}</p>
                {% if product.stock <= 0 %}
                <p><b>Out Of Stock</b></p>
                {% else %}
                    {% if user.is_authenticated %}
                <a class=" btn btn-secondary" href="{% url 'cart:add_cart' product.id %}" >Add to Cart</a>
                    {% else %}
                <a class=" btn btn-secondary" href="{% url 'accounts:login' %}" >Add to Cart</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}