{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    {product.desc|truncatewords:155}
{% endblock %}
{% block title %}
    {{product.name }} -shop cart
{% endblock %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WELCOME</title>
</head>
<body>
<form action="register" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="username"><br>
    <input type="text" name="first_name" placeholder="firstname"><br>
    <input type="text" name="last_name" placeholder="lastname"><br>
    <input type="email" name="email" placeholder="email"><br>

    <input type="password" name="password1" placeholder="password"><br>
    <input type="password" name="password2" placeholder="password"><br>
    <input type="submit" value="registration">

</form>


</body>
</html>


{% endblock %}